# PyCharm idea
.idea/
__pycache__/
.cache
.pytest_cache
.DS_Store
# DB folder
db/
!*db/countries.db
!*db/entities.db
# Environment folder
env/
topnews.db
*.csv
*.xlsx
*.xls
# Config file
config.py
# Document output folder
documents/